*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'manrope',sans-serif;
  color: #000000; }

.heading1 {
  background-color: bisque; }

.btn {
  width: 14rem;
  height: 5.2rem;
  color: #DFE4F1;
  border-radius: 10%;
  display: inline-block;
  background-color: #3734A9;
  border: 1px solid #DFE4F1;
  margin-left: 1rem; }
  .btn__orange {
    background: #FF7F5C;
    width: 35.6rem;
    height: 6rem;
    text-transform: uppercase;
    color: #DFE4F1;
    font-family: Manrope;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: center; }
  .btn__strech {
    width: 54.9rem;
    height: 4.8rem;
    background: #3734A9;
    border-radius: 1rem; }
  .btn__big {
    height: 6rem;
    width: 18rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    align-self: center;
    color: #ffff; }

.file {
  width: 35.6rem;
  height: 6rem;
  background: #FFFFFF;
  border: 1px solid #DFE4F1;
  box-sizing: border-box;
  border-radius: 5px; }

.heading1 {
  background-color: crimson;
  font-family: Manrope;
  font-size: 60px;
  font-weight: 800;
  line-height: 74px;
  letter-spacing: -0.03em;
  text-align: left; }

.heading4 {
  margin-top: 2rem;
  width: 45rem;
  height: 9rem;
  font-family: Manrope;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: -0.02em;
  text-align: left; }

.heading2 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #000000; }

.heading5 {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center; }

.heading3 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 5.6rem;
  color: #000000; }

.above-fold {
  margin: 13rem 37rem 13rem 15rem;
  width: 104rem;
  height: 44rem;
  display: flex; }

.content {
  background-color: blueviolet;
  padding-right: 4rem; }
  .content__button {
    display: flex; }

.form {
  width: 36rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.group-177 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.round-button {
  box-sizing: border-box;
  display: block;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  background-color: #22D497; }

.nav {
  margin: 2.8rem 12rem;
  width: 120rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav__shapevoice {
    width: 12rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    text-transform: uppercase; }
  .nav__group-18 {
    width: 79rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .nav__list {
    text-decoration: none;
    display: flex;
    gap: 1.2rem; }
  .nav__item {
    font-family: Manrope;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    text-decoration: none; }
  .nav__link {
    font-family: Manrope;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    text-decoration: none; }
  .nav__group-17 {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.about {
  background-color: chartreuse;
  width: 70rem;
  height: 20.6rem;
  margin: 2rem 37rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.process {
  background-color: cornflowerblue;
  width: 104rem;
  height: 23rem;
  margin: 3rem 20rem;
  display: flex;
  align-content: space-between; }

.group200 {
  width: 28rem;
  height: 22.8rem;
  margin-right: 10rem;
  background-image: url("./img/146021.png");
  background-color: blue; }

.group201 {
  width: 28rem;
  height: 22.8rem;
  margin-right: 10rem;
  background-image: url("./img/146021.png");
  background-color: green; }

.group202 {
  width: 28rem;
  height: 22.8rem;
  margin-right: 0;
  background-image: url("./img/146021.png");
  background-color: red; }

.cta {
  background-color: crimson;
  width: 104rem;
  height: 20rem;
  margin: 4rem 20rem;
  padding: 6.8rem 7.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .cta__text {
    width: 56.1rem;
    height: 11.2rem; }

.contentbig {
  background-color: darkgreen;
  width: 115.5rem;
  height: 52rem;
  margin: 5rem 10rem 5rem 18rem;
  display: flex;
  justify-content: space-between; }

.cards {
  background-color: chartreuse;
  width: 56.4rem;
  height: 52.2rem; }

.contentbig-text {
  background-color: dodgerblue;
  width: 49rem;
  height: 47rem; }

.quick {
  background-color: chocolate;
  width: 120rem;
  height: 17rem;
  margin: 12rem; }

.testimonials {
  background-color: yellow;
  width: 120rem;
  height: 61.7rem;
  margin: 6rem 12rem; }

.blog {
  background-color: orangered;
  width: 120rem;
  height: 63.3rem;
  margin: 4rem 12rem; }

.acta {
  background-color: blue;
  height: 45rem;
  width: 144rem;
  margin: 4rem 0; }

.footer {
  background-color: chartreuse;
  width: 114rem;
  height: 32.5rem;
  margin: 6rem 13rem 6rem 17.2rem; }
