.acta{
    background-color: blue;
    height: 45rem;
    width: 144rem;
    margin: 4rem 0;
    padding: 7rem 23rem 4rem  12.2rem ;

  

    &__contents{
        background-color: chartreuse;
        width: 109rem;
        height: 30rem; 
        
        display: flex;
        justify-content: space-between;
    }

    &__text{
        background-color: red;
        width: 48rem;
        height: 30rem;

    }
}