.acta{
    background-color: #3734A9;
    height: 45rem;
    width: 90vw;
    margin: 4rem auto;
    padding: 7rem 23rem 4rem  12.2rem ;

  

    &__contents{
     
        width: 109rem;
        height: 30rem; 
        
        display: flex;
        justify-content: space-evenly;
    }

    &__text{
       
        width: 48rem;
        height: 30rem;

    }
}