
*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   box-sizing: border-box;
   font-size: 62.5%;
}
body{
   font-family: 'manrope',sans-serif;
   color: #000000;
   
}
.mainbody{
   
position: absolute;
width: 968.46px;
height: 810.67px;
left: 594px;
top: -62px;
z-index: -10;


}

.heading1{
   background-color: bisque;

}

.btn{
   width: 14rem;
   height: 5.2rem;
   color: #DFE4F1;
   border-radius: 20%;
   display: inline-block;
   background-color:#3734A9;
   border: 1px solid #DFE4F1;
   margin-left: 1rem;

   &__orange{
      background: #FF7F5C;
      width: 35.6rem;
      height: 6rem;
      text-transform: uppercase;
      color: #DFE4F1;
      font-family: Manrope;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 3rem;
      letter-spacing: 0em;
      text-align: center;
   }

   &__strech{
      width: 54.9rem;
      height: 4.8rem;
      background: #3734A9;
      border-radius: 2rem;

   }
   &__big{
      height: 6rem;
      width: 18rem;
      font-size: 1.6rem;
      line-height: 1.9rem;
      align-self: center;
      color:#ffff;
      // margin: 6.8rem 7.2rem 6.8em auto;
     
      
   }
   &__medium{
      width: 26rem;
      height: 6rem;
      margin: 4rem 48rem;
      border-radius: 20%;
   }
   &__green{
      width: 26rem;
      height: 6rem;
   }
}

.file{
   width: 35.6rem;
   height: 6rem;
   background: #FFFFFF;
   border: 1px solid #DFE4F1;
   box-sizing: border-box;
   border-radius: 5px;
}