.blog{
    background-color: orangered;
    width: 120rem ;
    height: 63.3rem;
    margin: 4rem 12rem;

    &__navigation{
        width: 119.3rem;
        height: 6rem;
        background-color: darkviolet;

        display: flex;
        justify-content: space-between;
    }

    &__contents{
        background-color: darkolivegreen;
        width: 119.3rem;
        height: 51.8rem;
        margin-top: 5rem;

        display: flex;
        justify-content: space-between;
    }
    &__card{
        width: 38rem;
        height: 49.5rem;
        background-color: white;
    }
    &__subcard{
        background-color: cadetblue;
        width: 38rem;
        height: 11rem;
        margin: 1rem auto;

        display: flex;
    }

    &__subcardpic{
        width: 11rem;
        height: 8rem;
    }
}

.card__picbig{
    width: 38rem;
    height: 27rem;
}