.contentbig{
    background-color: darkgreen;
    width: 115.5rem;
    height: 52rem;
    margin: 5rem 10rem 5rem 18rem;
    
    display: flex;
    justify-content: space-between;

}

.cards{
    background-color: chartreuse;
    width: 56.4rem;
    height: 52.2rem;
}

.contentbig-text{
    background-color: dodgerblue;
    width: 49rem;
    height: 47rem;
}