.contentbig{
  
    width: 115.5rem;
    height: 52rem;
    margin: 5rem 10rem 5rem 18rem;
    
    display: flex;
    justify-content: space-between;

}

.cards{

    width: 56.4rem;
    height: 52.2rem;
}

.contentbig-text{
    background-color: dodgerblue;
    width: 49rem;
    height: 47rem;
}
.card{
    z-index: +2;
   
    height: 38.8rem;
    width: 34.2rem;
    padding: 4rem 2rem;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 2.2rem;
   

}

.torjon{
   
    width: 8rem;
    height: 8rem;
    z-index: 40;
    margin-bottom: -4rem;
    margin-left: 30rem;

}
.card2{
    width: 37rem;
    height: 30rem;
    margin-top: -16rem;
    margin-left:16rem ;
    background-color: white;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 2.2rem;
    z-index: 40;

    &__pic{
        height: 10rem;
        width: 10rem;
        margin: 3rem 13rem;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}
.massanger{    
    width: 20rem;
    height: 5rem;
    margin: 2rem 2rem;

    display: flex;

    &__pic{     
    height: 5rem;
    width: 5rem; 
    margin-right: 1rem;  

    }
}
.contentbig-boxes{
    padding-top: 4rem;
}

.tick{
    height: 2.4rem;
    width: 2.4rem;
    margin-right: 1rem;
}
.contentbig-box{
    width: 25rem;
    height: 3rem;
   

    display: flex;
}