.above-fold{
   
    margin: 13rem 37rem 13rem 15rem;
    width: 104rem;
    height: 44rem;

    display: flex;

}
.content{
    
    padding-right: 4rem;
    &__button{
        display: flex;
    }
}


.group-177{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.round-button {
	box-sizing: border-box;
	display:block;
	width:6rem;
	height:6rem;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background-color: #22D497;
    margin-top: 2rem;


}
.play{
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}
