.process{
  
    width: 90vw;
    height: 23rem;
    margin: 3rem auto;

    display: flex;
    align-content: space-between;

   

    &__bgimg{
        margin-left: 10rem;
        z-index: -1;
    }

    &__iconbox{
       margin-left: 0;
       margin-bottom: 10rem;
       width: 64px;
       height: 64px;
    }
  
}
.group200{
  
    width: 20vw;
    height: 22.8rem;
    margin-right: 10rem;
   
    background-repeat: no-repeat;

  
}

.group202{
    width: 20vw;
    height: 22.8rem;
    // margin-right: 0;

}