.heading1{
    background-color: crimson;
    font-family: Manrope;
    font-size: 60px;
    font-weight: 800;
    line-height: 74px;
    letter-spacing: -0.03em;
    text-align: left;

}
.heading4{

    // margin-top: 2rem;
    width: 45rem;
    height: 9rem;
    font-family: Manrope;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3rem;
    // letter-spacing: -0.02em;
    text-align: left;

}
.heading2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;

    
    letter-spacing: -0.03em;
    
    color: #000000;
}
    
.heading5{
font-family: Manrope;
font-size: 20px;
font-weight: 500;
line-height: 30px;
// letter-spacing: -0.02em;
text-align: center;

}
.heading3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 5.6rem;
    color: #000000;
}
.heading6{
    font-family: Manrope;
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 3rem;
    text-align: left;
    color: #000000;
    margin-top: -4rem;

}
.heading7{
    font-family: Manrope;
font-size: 1.4rem;
font-weight: 500;
line-height: 2.4rem;
letter-spacing: -0.02em;
text-align: left;

}