.heading1{
    background-color: crimson;
    font-family: Manrope;
    font-size: 60px;
    font-weight: 800;
    line-height: 74px;
    letter-spacing: -0.03em;
    text-align: left;

}
.heading3{

    margin-top: 2rem;
    width: 45rem;
    height: 9rem;
    font-family: Manrope;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: -0.02em;
    text-align: left;

}
.heading2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;

    
    letter-spacing: -0.03em;
    
    color: #000000;
}
    
.heading4{
font-family: Manrope;
font-size: 20px;
font-weight: 500;
line-height: 30px;
// letter-spacing: -0.02em;
text-align: center;

}
