.process{
  
    width: 104rem;
    height: 23rem;
    margin: 3rem 20rem;

    display: flex;
    align-content: space-between;

   

    &__bgimg{
        margin-left: 10rem;
        z-index: -1;
    }

    &__iconbox{
       margin-left: 0;
       margin-bottom: 8rem;
    }
  
}
.group200{
  
    width: 28rem;
    height: 22.8rem;
    margin-right: 10rem;
   
    background-repeat: no-repeat;

  
}
.group201{
    width: 28rem;
    height: 22.8rem;
    margin-right: 10rem;
   
}
.group202{
    width: 28rem;
    height: 22.8rem;
    margin-right: 0;

}